<a href="https://colab.research.google.com/github/NBN879/Learning/blob/main/2024_06_26_Lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/360340/2_taxi_nyc.csv')

In [ ]:
df.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

In [ ]:
df.groupby('pickup_month').pickup_month.count()

pickup_month
Apr    4798
Feb    4492
Jan    4897
Jun    4899
Mar    4957
May    5058
Name: pickup_month, dtype: int64

In [ ]:
df['pickup_month'].value_counts()

pickup_month
May    5058
Mar    4957
Jun    4899
Jan    4897
Apr    4798
Feb    4492
Name: count, dtype: int64

In [ ]:
df.isna().sum()

pickup_dt          0
pickup_month       0
borough         3043
pickups            0
hday               0
spd                0
vsb                0
temp               0
dewp               0
slp                0
pcp 01             0
pcp 06             0
pcp 24             0
sd                 0
dtype: int64

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
is_equil = 10 == 5

In [ ]:
is_equil

False

In [ ]:
l = ['1', '2', '3']

In [ ]:
l.append('4')

In [ ]:
l

['1', '2', '3', '4']

In [ ]:
l.insert(0, '5')

In [ ]:
l

['5', '1', '2', '3', '4']

In [ ]:
for i in l:
  print(i)

5
1
2
3
4

In [ ]:
j = 1
while j < 10:
  print(f'Текущий этап: {j}')
  j += 1

Текущий этап: 1
Текущий этап: 2
Текущий этап: 3
Текущий этап: 4
Текущий этап: 5
Текущий этап: 6
Текущий этап: 7
Текущий этап: 8
Текущий этап: 9

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
for j in range(11):
  if j % 2 == 0:
    continue
  print(j)

1
3
5
7
9

In [ ]:
def func(name):
  return f'hello, {name}'

In [ ]:
s = func('Anna')

In [ ]:
s

'hello, Anna'

### Игра "Угадай число"

In [ ]:
import random

def guess_number():
  number = random.randint(1, 100) # значение от 1 до 100
  print('Я загадал число от 1 до 100. Попробуй его угадать')

  while True:
    guess = input('Введите ваше предположение: ')
    if guess.isdigit():
      guess = int(guess)
    else:
      print('Вы ввели некорректное значение! Введите целое число')
      continue

    if guess < number:
      print('Загаданное число больше')
    elif guess > number:
      print('Загаданное число меньше')
    else:
      print('Поздравляю!')
      break

In [ ]:
guess_number()

Я загадал число от 1 до 100. Попробуй его угадать
Введите ваше предположение: ljlh
Вы ввели некорректное значение! Введите целое число
Введите ваше предположение: 64
Загаданное число больше
Введите ваше предположение: 67.9
Вы ввели некорректное значение! Введите целое число
Введите ваше предположение: 80
Загаданное число больше
Введите ваше предположение: 90
Загаданное число больше
Введите ваше предположение: 95
Загаданное число меньше
Введите ваше предположение: 93
Загаданное число меньше
Введите ваше предположение: 91
Поздравляю!

### Программа, которая анализирует текст, введенный пользователем, и выводит:
1. количество слов;
2. количество уникальных слов;
3. самое частое слово

In [ ]:
def word_count(words):
  print(f'Общее количество слов в тексте = {len(words)}')
  print(f'Кол-во уникальных слов = {len(set(words))}')
  dict_words = {}
  for word in words:
    if word in dict_words:
      dict_words[word] += 1
    else:
      dict_words[word] = 1

  max_value = max(dict_words.values())
  lmw = []
  for key, value in dict_words.items():
    if value == max_value:
      lmw.append(key)

  lmw = ', '.join(lmw)
  print(f'Чаще всего встречаются следующие слова - "{lmw}"')
  # print(dict_words)


words = input('Введите текст, слова должны быть разделены пробелами: ') \
              .strip().split()
word_count(words)

Введите текст, слова должны быть разделены пробелами: asdfasdf 1 1 1 3 3 3 2
Общее количество слов в тексте = 8
Кол-во уникальных слов = 4
Чаще всего встречаются следующие слова - "1, 3"

### "Поколение Python": курс для продвинутых

In [ ]:
def line_cost(s):
  cost_in_kop = len(s) * 60
  rub = cost_in_kop // 100
  kop = cost_in_kop % 100
  return rub, kop

s = input()
rub, kop = line_cost(s)
print(f'{rub} р. {kop} коп.')

asdfasdgsdfhsdfhsdfhsd adssdf
17 р. 40 коп.

### Аналитическая задача

In [ ]:
import openpyxl

def load_data(filename):
  workbook = openpyxl.load_workbook(filename)
  sheet = workbook.active
  data = []

In [3]:
# Проверка словаря
d = {
    '1': {'author': 'Allan', 'year': 2023},
    '2': {'author': 'Allan', 'year': 2024},
    '1': {'author': 'Allan', 'year': 2023},
}

x = {title: info for title, info in d.items() if info['author'] == 'Allan'}
x

{'1': {'author': 'Allan', 'year': 2023},
 '2': {'author': 'Allan', 'year': 2024}}

In [6]:
2004 % 12

0

In [8]:
chinese_horoscope = {
    'Дракон': 8,
    'Змея': 9,
    'Лошадь': 10,
    'Овца': 11,
    'Обезьяна': 0,
    'Петух': 1,
    'Собака': 2,
    'Свинья': 3,
    'Крыса': 4,
    'Бык': 5,
    'Тигр': 6,
    'Заяц': 7
}

year_horoscope = int(input().strip()) % 12
for key, value in chinese_horoscope.items():
  if value == year_horoscope:
    print(key)
    break

2000
Дракон

In [1]:
chinese_horoscope = ['Обезьяна', 'Петух', 'Собака', 'Свинья', 'Крыса', 'Бык', 'Тигр', 'Заяц', 'Дракон', 'Змея', 'Лошадь', 'Овца']
print(chinese_horoscope[int(input()) % 12])

2000
Дракон

In [16]:
n = input().strip()
#

print(f'{n[:-5]}')
print(f'{n[-5:][::-1]}')
new = n[:-5] + n[-5:][::-1]
print(int(new))

123456
1
65432
165432

In [14]:
n = input()
new_n = int(n[:-5] + n[-5:][::-1])

print(new_n)

123456
165432

In [30]:
def func(**kwargs):
  print(kwargs)
  print(max(kwargs.values()))

func(a = 1, b = 2, c = 3, d = 4, e = 5)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
5

In [32]:
s = int(input())
'{:,}'.format(s)

1234567890

'1,234,567,890'

In [9]:
s = input().strip()
start = s[:len(s) % 3]
s = s[len(s) % 3:]
l = [s[i*3:i*3+3] for i in range(0, len(s) // 3)]
if start == '':
  result = ','.join(l)
else:
  result = start + ',' + ','.join(l)
print(result)

12345
12,345

In [20]:
string = input().strip()
for i in range(len(string)-3, 0, -3):
  string = string[:i] + ',' + string[i:]
print(string)

1234567890
7
4
1
1,234,567,890

In [19]:
l = ['1', '2', '3']
print(*l, sep='')

123